<div class="row" >
	<div class="col-md-10 col-md-offset-1" style="background-color: #F9F9F9;">
	<div class="row form">
		<div class="col-lg-12 col-xs-12  col-md-10 col-md-offset-1 text-left" > 
		<p class="large">All Stores</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  shadow">
		<div ng-repeat="item in store">
			
				<div class="section-result" data-ng-click="StoreClicked(item._id)">
					<div class="section-result-text-content">
						<p style="font-size: 16px">{{item.name}}</p>
						<p><span>{{item.street_address}}</span>
						</p>
						<p>
							<span data-ng-repeat="category in item.pro_categories">
								{{category.name}},
							</span><br>
						</p>
						<p>Opens at 11am </p>
					</div>
					<div class="section-image-container"> 
						<img class="section-result-image" ng-src="{{item.cover_image}}" />
					</div>
				</div>	
		</div>
</div>
</div>
</div>