<div class="row store-wrapper">
	<div ng-repeat="store in storeList">	
		<div class="col-sm-4 padding-bottom-10" ng-click="StoreClicked(store._id,$index)">
			<div id="card" class="weater">
				<div class="store-selected">
					<article>
						<div class="info">
							<div class="store">{{store.name}}</div>
							<div class="timing">{{ShowTime(store.working_days)}}</div>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
							<div class="card-text"> 
								<span>{{(Category(store)).join(', ') | limitTo: 45}}{{(categoryJoin.join(', ')).length > 45 ? '...' : ''}}</span>
						    </div>
						</div>    
					</article>
					<figure style="background-image: url({{store.cover_image}})"></figure>
				</div>

				<div class="address-section">
					<div class="row row-no-gutter">
						<div class="col-md-12">
							<div class="address">
								<div class="card-text">
								    <span>{{ JoinAddress(store.street_address, store.city, store.postal_code) | limitTo: 45 }}{{fullAddress.length > 45 ? '...' : ''}}</span>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
