<div class="row" >
	<div class="col-md-10 col-md-offset-1" style="background-color: #F9F9F9;">
	<div class="row form">
		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  shadow">
		<div class="image-holder">
		<img ng-src="{{store.cover_image}}" width="100%" />
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="ch" style="overflow: hidden;">
	  			<div class="input-label text-center"><p><strong>Photo Gallery</strong></p></div>
		  			<div data-ng-repeat="item in store.thumbnails" class="thumbnail-image-container">
		  				<img ng-src="{{item}}" width="100%" style="padding: 5px" />
		  			</div>
	  			<!-- <img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" />
	  			<img src="/static/img/default_cover.png" width="24%" style="padding: 5px" /> -->
	  		</div>
	  		<div class="ch">
				<div class="input-label text-center"><strong>About Us</strong></div>
 				<p>{{store.description}}</p>
 			</div>
 			<div class="ch">
				<div class="input-label text-center"><strong>Product Range</strong></div>
				<div data-ng-repeat="item in store.pro_categories">
					<p>{{item.name}}</p>
				</div>
 			</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="ch">
				<div class="input-label text-center"><strong>Working Days</strong></div>
				<div data-ng-repeat="item in store.working_days">
					<p>{{item.name}}</p>
				</div>
 			</div>
			<div class="ch">
	  			<div class="input-label text-center"><p><strong>Store Location</strong></p></div>
	  			<img src="/static/img/default_cover.png" width="100%" />
	  		</div>
			</div>
		</div>
		</div>
	</div>
	</div>
	</div>